<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3730842543816100" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %}</title>
        {% block meta %}{% endblock %}
    </head>
    <body>
        <div class="w-full h-[50px] bg-black flex text-white font-mont fixed top-0">
            <div class="w-[800px] grid grid-cols-[150px_auto] mini:hidden small:hidden">
                <a href="/" class="flex justify-center items-center">
                    <h1 class="font-bold text-[23px] pt-[3px]">
                        <span class="text-blue">PER</span>90
                    </h1>
                </a>

                <div class="grid grid-cols-5">
                    <a href="/" class="flex justify-center items-center hover:bg-blue transition-colors cursor-pointer">
                        <h1 class="font-bold text-[13px] pt-[3px]">
                            ALL
                        </h1>
                    </a>

                    <a href="/player-analysis" class="flex justify-center items-center hover:bg-blue transition-colors cursor-pointer">
                        <h1 class="font-bold text-[13px] pt-[3px]">
                            SCOUTING
                        </h1>
                    </a>

                    <a href="/match-analysis" class="flex justify-center items-center hover:bg-blue transition-colors cursor-pointer">
                        <h1 class="font-bold text-[13px] pt-[3px]">
                            ANALYSIS
                        </h1>
                    </a>
                </div>
            </div>
            
            <div class="w-[50px] h-[100%] hidden mini:block small:block">
                <div class="h-[100%] flex justify-center items-center">
                    <img src="{{url_for('static', filename='img/icons/menu.png')}}" class="w-[45%] h-[45%]">
                </div>
            </div>

            <div class="w-[100%] h-[100%] hidden mini:block small:block absolute">
                <div class="w-[100%] h-[100%] flex justify-center">
                    <div class="w-[150px] flex justify-center items-center">
                        <h1 class="font-bold text-[23px] pt-[3px]">
                            <span class="text-blue">PER</span>90
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-center w-full mt-[50px] text-[19px] small:text-[17px] mini:text-[15px]">{% block content %}{% endblock %}</div>

        <div class="w-[100%] h-[50px] bg-black text-white fixed bottom-0">
            <div class="w-[100%] h-[100%] flex justify-center">
                <div class="w-[800px] small:w-[100%] flex justify-center items-center">
                    <div class="font-mont">
                        <h1 class="font-bold text-[23px] pt-[3px] text-center">
                            <span class="text-blue">PER</span>90
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>