{% extends "base.html" %}
{% block title %} Home | Per-90 {% endblock %}
{% block content %}
<div class="w-[800px] small:w-[100%] pb-[10px]">
    <div>
        <a href="{{articles[articles|length-1].directory}}/False"><div class="w-[100%] aspect-video mt-[30px] small:mt-0 flex items-end">
            <div>
                <div class="w-[100%] aspect-video overflow-hidden">
                    <img src="{{url_for('static', filename='articles'+articles[articles|length-1].directory+'/thumbnail.jpg')}}" 
                    class="w-[100%] h-[100%] hover:w-[130%] hover:h-[130%] object-cover transition-all">
                </div>
                <div class="bg-black w-[100%] pb-[20px] flex justify-center">
                    <div>
                        <h1 class="font-bold text-white text-[30px] mini:text-[20px] ml-[30px] pr-[20px] mt-[20px] ">{{articles[articles|length-1].title}}</h1>
                        <p class="text-[15px] mini:text-[11px] mt-[10px] ml-[30px] text-white/50">{{articles[articles|length-1].author}} - {{articles[articles|length-1].uploaded}}</p>
                    </div>
                </div>
                <div class="w-[100%] h-[5px] bg-blue"></div>
            </div>
        </div></a>
    
        <div class="small:hidden mini:hidden w-[100%] grid grid-cols-3 gap-[10px] mt-[10px]">
            <a href="{{articles[articles|length-2].directory}}/False">
                <div class="w-[100%] aspect-video overflow-hidden">
                    <img class="w-[100%] h-[100%] hover:w-[130%] hover:h-[130%] object-cover transition-all" 
                    src="{{url_for('static', filename='articles'+articles[articles|length-2].directory+'/thumbnail.jpg')}}">
                </div>
                <div class="w-[100%] mt-[10px]">
                    <h1 class="font-bold text-[17px]">{{articles[articles|length-2].title}}</h1>
                    <p class="text-[14px]">{{articles[articles|length-2].author}} - {{articles[articles|length-2].uploaded}}</p>
                </div>
            </a>

            <a href="{{articles[articles|length-3].directory}}/False">
                <div class="w-[100%] aspect-video overflow-hidden">
                    <img class="w-[100%] h-[100%] hover:w-[130%] hover:h-[130%] object-cover transition-all" 
                    src="{{url_for('static', filename='articles'+articles[articles|length-3].directory+'/thumbnail.jpg')}}">
                </div>
                <div class="w-[100%] mt-[10px]">
                    <h1 class="font-bold text-[17px]">{{articles[articles|length-3].title}}</h1>
                    <p class="text-[14px]">{{articles[articles|length-3].author}} - {{articles[articles|length-3].uploaded}}</p>
                </div>
            </a>

            <a href="{{articles[articles|length-4].directory}}/False">
                <div class="w-[100%] aspect-video overflow-hidden">
                    <img class="w-[100%] h-[100%] hover:w-[130%] hover:h-[130%] object-cover transition-all" 
                    src="{{url_for('static', filename='articles'+articles[articles|length-4].directory+'/thumbnail.jpg')}}">
                </div>
                <div class="w-[100%] mt-[10px]">
                    <h1 class="font-bold text-[17px]">{{articles[articles|length-4].title}}</h1>
                    <p class="text-[14px]">{{articles[articles|length-4].author}} - {{articles[articles|length-4].uploaded}}</p>
                </div>
            </a>
        </div>

        <div class="block small:hidden mini:hidden w-[100%] grid grid-cols-[calc(100%-250px)_250px] mt-[50px]">
            <div class="">
                {% for i in range(articles|length-4) %}
                    <a href="{{articles[articles|length-(i+5)].directory}}/False" class="w-[100%] grid grid-cols-[40%_auto] mt-[10px]">
                        <div class="w-[100%] aspect-video overflow-hidden">
                            <img class="w-[100%] h-[100%] hover:w-[130%] hover:h-[130%] object-cover transition-all" 
                            src="{{url_for('static', filename='articles'+articles[articles|length-(i+5)].directory+'/thumbnail.jpg')}}"></img>
                        </div>
                        <div class="mt-0 ml-[10px] flex items-center">
                            <div>
                                <h1 class="font-bold text-[19px] mini:text-[13px]">{{articles[articles|length-(i+5)].title}}</h1>
                                <p class="text-[15px] mini:text-[11px]">{{articles[articles|length-(i+5)].author}} - {{articles[articles|length-(i+5)].uploaded}}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <div id="ad-space" class="h-[600px] bg-black">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3730842543816100"
                    crossorigin="anonymous"></script>
                <!-- vertical ad -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-3730842543816100"
                    data-ad-slot="2940752591"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    
        <!-- ONCE THERES MORE THAN 10, WORK ON INFINITE LOADING -->
        <div class="hidden mini:block small:block w-[calc(100%-20px)] ml-[10px]">
            {% for i in range(articles|length-1) %}
                <a href="{{articles[articles|length-(i+2)].directory}}/False" class="w-[100%] grid grid-cols-[40%_auto] mt-[10px]">
                    <div class="w-[100%] aspect-video overflow-hidden">
                        <img class="w-[100%] h-[100%] hover:w-[130%] hover:h-[130%] object-cover transition-all" 
                        src="{{url_for('static', filename='articles'+articles[articles|length-(i+2)].directory+'/thumbnail.jpg')}}"></img>
                    </div>
                    <div class="mt-0 ml-[10px] flex items-center">
                        <div>
                            <h1 class="font-bold text-[19px] mini:text-[13px]">{{articles[articles|length-(i+2)].title}}</h1>
                            <p class="text-[15px] mini:text-[11px]">{{articles[articles|length-(i+2)].author}} - {{articles[articles|length-(i+2)].uploaded}}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}