@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-transparent { color:transparent; }
}

@font-face {
    font-family: "MONT";
    src: url("../font/mont.otf");
}


@font-face {
    font-family: "MODERN_SANS";
    src: url("../font/modern_sans.otf");
}

@font-face {
    font-family: "GRAVITY";
    src: url("../font/gravity.otf");
}

@font-face {
    font-family: "GRAVITY_BOLD";
    src: url("../font/gravity-bold.otf");
}

@font-face {
    font-family: "ROBOTO";
    src: url("../font/roboto.ttf");
}