@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-transparent { color:transparent; }
}

@font-face {
    font-family: "MONT";
    src: url("../font/mont.otf");
}


@font-face {
    font-family: "MODERN_SANS";
    src: url("../font/modern_sans.otf");
}